:root{
    --title-color: #322551;
    --primary-color: #34cb79;
}

*{
   margin: 0;
   padding: 0; 
}
html{
    font-family: Roboto, sans-serif;
}

body{
    margin-left: 50px;
    background: #d864d8;
    -webkit-font-smothing:antialiesate;
}

a{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
    font-family: Ubuntu,sans-serif;
    color:var(--title-color);
}
footer#rodape p{
    text-align: center;/*Alinhamento do rodapé*/
    font: bold;
}
