<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block title %}
        <title>Ecoleta</title>
    {% endblock title %}
    

    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300;1,400;1,700&family=Ubuntu:ital,wght@1,700&display=swap" rel="stylesheet">
   
   

     {% block style %}
        <link rel="stylesheet" href="/style/main.css">
        <link rel="stylesheet" href="/style/responsive.css">
     {% endblock style %}

    
   
</head>
    <body>
        <div id ="{{ pageId }}">
            {% block content %}
            {% endblock content %}            
        </div>  

        {% block modal %}
        {% endblock modal %}  

        {% block scripts %}
        {% endblock scripts %}

    <footer id="rodape">
        <p>Copyright &copy; 2020 - by Regina Lacerda<br/>
        <a href="http://lattes.cnpq.br/3614717401938266" target="_blank">Lattes</a> 
    </footer>
    </body>
</html>