{% extends "layout.html" %}


{% set pageId = "page-search-results" %}


{% block titlte %}
    <title>Resultado da Pesquisa</title>
{% endblock titlte %}


{% block style %}
    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/search-result.css"> 
{% endblock style %}
 
   
{% block content %}
   {% include "partials/page-header.html" %}


        <main>
            <h4>
                <strong>3 Pontos </strong> encontrados
            </h4>

            <div class="cards">
                <div class="card">
                    <img src="/asserts/eletronicos.svg" alt="Coletoria">
                    <h1>Coletoria</h1>
                    <h3>Resíduos Eletrônicos, Lâmpadas</h3>
                    <p>Rio do Sul, Santa Catarina <br>
                        Guilherme Gembala, Jardim America
                        <br>
                        Número 260
                    </p>
                </div>

                <div class="card">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTmbC0fetTvBquwe8hoaBl5-8ARysR6Kv2ndp7jX1QTMpsuoHsG&usqp=CAU" alt="Papersider">
                    <h1>Papersider</h1>
                    <h3>Resíduos Eletrônicos, Lâmpadas</h3>
                    <p>Rio do Sul, Santa Catarina <br>
                        Guilherme Gembala, Jardim America
                        <br>
                        Número 260
                    </p>
                </div>

                <div class="card">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTmbC0fetTvBquwe8hoaBl5-8ARysR6Kv2ndp7jX1QTMpsuoHsG&usqp=CAU" alt="Papersider">
                    <h1>Papersider</h1>
                    <h3>Resíduos Eletrônicos, Lâmpadas</h3>
                    <p>Rio do Sul, Santa Catarina <br>
                        Guilherme Gembala, Jardim America
                        <br>
                        Número 260
                    </p>
                </div>
            </div>

        </main>
{% endblock content %}
    
    
        


   





        

    